/*Framework v1.04  GFcare 2025-06-29 */
/* Single column for boxed content if only 1 or 2 boxes */
    /* montserrat-regular - latin */
    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); 
    }
    /* montserrat-italic - latin */
    @font-face {
      font-display: swap; 
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 400;
      src: url('../fonts/montserrat-v29-latin-italic.woff2') format('woff2'); 
    }
    /* montserrat-700 - latin */
    @font-face {
      font-display: swap; 
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      src: url('../fonts/montserrat-v29-latin-700.woff2') format('woff2'); 
    }

    html, body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevents horizontal scrolling */
        background-color: #FFFFF0;
    }


    .top-bar {
        background-color: #FFFFF0;
        color: black;
        padding: 10px 0 0;             /* Small top padding */
        display: flex;
        justify-content: space-between; /* Horizontal spacing */
        align-items: center;            /* Center items vertically */
        max-width: 900px;               /* Single boxed content */
        margin: 0 auto;                 /* Center container horizontally */
    }

    .top-bar .call {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
        color: #77949C;
        margin-left: auto;  /* Pushes this flex item to the right */
        margin-right: 20px; /* Optional right margin */
        float: none;        /* Remove float, no effect in flex */
    }


    .top-bar .call:hover {
        color: darkblue;
    }


    header {
        background-color: #FFFFF0;
        color: black;
        padding: 10px 0 0 ;             /* Small top padding */
        display: flex;
        justify-content: space-between; /* Horizontal spacing */
        align-items: center;            /* Center items vertically */
        max-width: 900px;               /* Single boxed content */
        margin: 0 auto;                 /* Center container horizontally */

    }

    header .logo {
        margin-left: 20px;
    }

    header .strapline {
        text-align: center;
        font-style: italic;
        font-size: 1.2rem;
        margin-right: 20px;  /* Push email link 20px away from right edge */
    }

    header .mobile-strapline {
        display: none;
    }

    header .instagram-icon {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }


    nav {
        display: flex;
        background-color:lightgreen;
        justify-content: center;    /*Horizontal spacing */
        padding: 10px 0px;          /* Top and Bottom */
        max-width: 900px;           /* Single column boxed content */
        margin: 0 auto;             /* Center container horizontally */
    }
    nav a {
        color: black;
        padding: 0 15px;            /* Top and Bottom */
        text-decoration: none;      /* Remove underline */
        font-weight: bold;
    }
    nav a:hover {
        color: blue;
    }        

/* Hero image */
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    .hero-image::before {
        content: "";
        display: block;
        width: 100%;         /* Ensures it stretches to container width */
        padding-top: 20%;    /* 5:1 aspect ratio */
        background: #FFFFF0; /* Placeholder color */
    }

    .hero-image {
        display: flex;
        justify-content: center;
        position: relative;       /* Allows children to be positioned absolutely to this*/
        width: 100%;              /* Ensure the container takes up the intended space */
        max-width: 900px;         /* Match nav and header */
    }

    .hero-image img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;     /* ensures image fills hero-image container */
        top: 0;         /* ensures image fills hero-image container */
        left: 0;        /* ensures image fills hero-image container */
    }

/* End hero */

/* Intro */

    .intro-container {
        display: flex;
        background-color: #FFFFF0;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }        
    
    .intro-text {      
        width: 80vw; /* Set a maximum width for the text */
        max-width: 768px; /* Set a maximum width for the centered box */
        font-style: italic;
         text-align: center;
        font-size: clamp(1.1rem, 2.5vw + 0.5rem, 1.25rem);
        line-height: 1.s
6;
        /*text-align: left;*/
        /*background: white;*/
        /*padding: 20px;*/
        box-sizing: border-box;
    }

    .intro-title h2, h3, h4, h5 {
        text-align: center;
    }

    .intro-icon-container {
        display: flex;
        justify-content: center;
        margin-top: -10px; /* Reduce space above the icon */
    }

    .intro-icon {
        width: 50px;
        height: 50px;
        display: none;
    }

/* End intro */

/* Multi column */   
    .feature-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; /* main axis = horizontal */
      align-items: center ;
      gap: 20px;
      padding: 20px;
    }

    .feature-item {
      flex: 1 1 calc(33.33% - 20px);
      max-width: 600px;
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box; /* Ensure padding is included in width */
    }
 
    .feature-item img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

/* End multi column */

/* Single contact Column */
    .container-contact {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        padding: 20px;
    }

    .item-contact {
        width: 80vw; 
        max-width: 768px; /* Keeps sections from being too wide */
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        box-sizing: border-box; /* Ensure padding is included in width */
    }

   input[type="text"], input[type="email"], input[type="tel"], textarea {
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
    }

    label, input, textarea {
        display: block; /* force new lines between items*/
        /*margin-bottom: 10px; /* optional spacing */
    }

    #email {
        max-width: 600px;
    }

    #phone {
        max-width: 200px;
    }

    #callback {
        max-width: 300px;
    }

    button[type="submit"] {
        background-color: #666;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 25px;
        margin-top:20px;
    }
    button[type="submit"]:hover {
        background-color: #333;
    }
    label.required:after {
        content: " *";
        color: red;
    }
    .red-asterisk::before {
        content: "* ";
        color: red;
    }

    .cf-turnstile {
        overflow: hidden;
        display: block;
    }


/* End Single contact column */


/* Footer */

    footer {
        display: flex;
        flex-direction: column;
        background-color: lightgreen;
        align-items: center; /* Center items horizontally */
        gap: 20px;
    }
    
    footer .item-footer {
        width: 80vw;
        color: black;
        text-align: center;
        padding: 10px;
    }

/* End footer */

/* Media queries */

    @media (max-width: 900px) {

        .feature-container {
            display: flex;
            flex-direction: column;
            align-items: center;
         }

        .feature-item {
            width: 90%; /* Adjust width to ensure it is properly centered */
            max-width: 600px;
        }             

        .larger-text {
          font-size: 1.1em; /* Adjust the size as needed */
        }         
    } 


    @media (max-width: 768px) {
        .larger-text {
            font-size: 1.0em; /* Adjust the size as needed */
        }

        .top-bar .call {
            font-size: 1rem;
        }

        header {
            flex-direction: column;
            text-align: center;
            justify-content: center;
         }
        header .logo {
            margin-left: 0;
        }

        header .mobile-strapline {
            display: block; /* Show on mobile */
            text-align: center;
            font-style: italic;
            font-size: 1.2rem;
        }

        header .strapline {
            display: none; /* Hide on mobile */
        }

        header .instagram-icon  {
            display: none; /* Hide on mobile */
        }            

        .intro-title {
           font-size: 0.7em;   /* Change font size  on mobile */
        }            
        
        .intro-icon {
            display: block; /* Display on mobile */
            padding:20px;
        }


        .cf-turnstile {
            width: 200px; 
        }
    }  
/* end media queries */

    h2, h3, h4, h5 {
        text-align: center;
    }

    .larger-text {
      font-size: 1.2em; /* Adjust the size as needed */
    }



